@font-face {
    font-family: Valentine;
    src: url(Valentine.otf);
}
body{
    font-family: Valentine;
}
.city {

inset-inline:  600px;;


}

.header {
inset: block 20px;;



}


body {
    background-image: url('back.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 100vh; 
    margin: 0; 
}

.moveable-image {
    position: relative; /* or relative */
    top: 50px;
    left: 100px;
    inset-inline: 5px;
  }


body {

font-family: 'Courier New', Courier, monospace;

}
